.carousel .slide{
    background: transparent !important;
}
.carousel .control-dots .dot{
    background: $orange-color !important;
}
.no-margin-bottom{
    margin: 0;
}

text.CircularProgressbar-text {
    transform: translate(-38%, 5%);
    /* white-space: initial; */
}
.ql-bubble .ql-tooltip{
    left: -70px !important;
}
.background-green{
    background: transparent;
    background: linear-gradient(180deg, rgba($green-color-light,.1) 0%, rgba($green-color-light,.05) 31%, rgba(255,255,255,1) 100%);
    border-top:3px solid rgba($color: $green-color-light, $alpha: .3)  ;
}
.background-orange{
    background: transparent;
    background: linear-gradient(180deg, rgba($orange-color,.1) 0%, rgba($orange-color,.05) 31%, rgba(255,255,255,1) 100%);
    border-top:3px solid rgba($color: $orange-color, $alpha: .3)  ;
}
.background-blue{
    background: transparent;
    background: linear-gradient(180deg, rgba($main-color,.1) 0%, rgba($main-color,.05) 31%, rgba(255,255,255,1) 100%);
    border-top:3px solid rgba($color: $main-color , $alpha: .3) ;
}

.btn-green{
    background: $green-color-light;
    background: $linear-green;
}

.btn-blue{
    background: $main-color;
    background: $linear-main;
}

.btn-orange{
    background: $orange-color;
    background: $linear-orange;
}

.bg-top-orange{
    background: rgba($orange-color,.2);
    background: linear-gradient(180deg, rgba($orange-color,.2) 0%, rgba($orange-color,.1) 31%, rgba($white-color,1) 100%);
    border-top:3px solid rgba($color: $orange-color, $alpha: .3)  ;
}

.bg-top-blue{
    background: rgba($main-color,.2);
    background: linear-gradient(180deg, rgba($main-color,.2) 0%, rgba($main-color,.1) 31%, rgba($background-color,1) 100%);
    border-top:3px solid rgba($color: $main-color, $alpha: .3)  ;
}

.bg-top-green{
    background: rgba($green-color-light,.3);
    background: linear-gradient(180deg, rgba($green-color-light,.3) 0%, rgba($green-color-dark,.2) 31%, rgba(255,255,255,1) 100%);
    border-top:3px solid rgba($color: $green-color-light, $alpha: .5)  ;
}

.small-flex-mobile{
    flex: 2;
    @include respond(m){
        flex: 5;
    }
}

.border-fancy {
    position: absolute;
    height: 40%;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 2rem;
    z-index: -1;
    border-radius: 30% 70% 28% 72% / 58% 57% 43% 42% ;
    //30% 70% 54% 46% / 30% 30% 70% 70%;
    
}