
$main-color: #3548CB;
$second-color:#8693F2;
$linear-main:linear-gradient(to right, #8693F2, #3548CB);

$orange-color: #FF9597;

$green-color-light: #4DDDBA;
$green-color-dark: #02CC9C;
$linear-green: linear-gradient(to right, #4DDDBA, #02CC9C);

$white-color:#fcf9ec;
$black-color: #000;
$grey: #7e7e7e;
$grey-light:#AEB0BF;
$color-text: #777;


$main-shadow:0 1rem 2rem rgba(0, 0, 0, .2);