.about{

     
    &__left{
        border-top-right-radius: 50%; 
        border-bottom-left-radius: 50%; 
        box-shadow: $main-shadow;
        margin-right: 3rem;
        display: flex;
        align-items: center;
        &--img{
            width: 100%;
          
            
            @include respond(m){
                width: 80%;
            }
        }
    }

    &__right{
        
    }
}