.about{

     
    &__left{
       
     //    box-shadow: $main-shadow;
        margin-right: 3rem;
        display: flex;
        align-items: center;
        position: relative;
        &--img{
            width: 100%;
          
            
            @include respond(m){
                width: 80%;
            }
        }
    }

    &__right{
        
    }
}