.page {
    //padding-top: 10rem;
    background: $background-color;
    &__top {
        height: 200px;
        width: 100%;
        position: relative;
        margin-bottom: 10rem;

        &--img {
            position: relative;
            height: 200px;

            &--rightImage {
                height: 150px;
                width: 150px;
                position: absolute;
                top: 0;
                bottom: -5rem;
                right: 0;
            }

            &--leftImage {
                height: 150px;
                width: 150px;
              @include respond(m){
                height: 250px;
                width: 250px;
              }
                
                position: absolute;
               
                bottom: 20px;
            }
        }

        &--content {
            text-align: center;
            margin-top: 6rem;
            font-size: 2.4rem;
        }
    }
}
